.about-me {
  max-width: 900px;
  font-size: 1.8rem;
  line-height: 1.5;
}

.emoji {
  font-size: 1.4rem;
}

.projects-list {
  list-style: none;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3em;

  li {
    margin-bottom: 1rem;
  }

  @media only screen and (max-width: 800px) {
    margin-top: 2rem;
    grid-template-columns: 1fr;
  }
}

.project-preview-image {
  border: 8px solid transparent;
  transition: 150ms ease-in-out;

  &:hover {
    border-color: rgba(0, 0, 0, 0.2);
  }
}

.project {
  h2 {
    margin-top: 1rem;
    display: inline-block;
    line-height: 100%;

    &:hover {
      color: white;
      background-color: #353535;
    }
  }

  p {
    margin-top: 1rem;
    color: rgb(71, 71, 71);
  }

  ul {
    list-style: none;
    margin-top: 10px;
    display: inline-block;
    font-weight: bold;
    color: black;

    li a {
      border-bottom: 1px solid black;
      font-size: 90%;

      &:hover {
        background-color: black;
        font-weight: normal;
        color: white;
      }
    }
  }
}

.date {
  display: block;
  font-size: 80%;
}

.links {
  li {
    margin-bottom: 4px;
  }
}
