---
const { title, description, status } = Astro.props;
---

<style>
  div {
    background-color: #17181c;
    padding: 0.5rem 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    outline: 1px solid #323232;
    position: relative;
  }

  div::before {
    content: '';
    left: 0;
    right: 0;
    position: absolute;
    top: 50%;
    bottom: 0;
    z-index: -1;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.8);
  }

  h3 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  .description {
    margin-bottom: 1rem;
  }

  .status {
    margin-top: auto;
  }

  .status span {
    color: #efbd61;
  }
</style>
<div>
  <h3>{title}</h3>
  <p class="description">{description}</p>
  <p class="status">Status: <span>{status}</span></p>
</div>
